<script>
    $(document).ready(function () {
        $('#saveid').click(function () {
            //console.log("Button clicked");
            output = ""
            let name = $('#nameid').val();
            let email = $('#exampleInputEmail1').val();
            let password = $('#exampleInputPassword1').val();
            let csrf = $("input[name=csrfmiddlewaretoken]").val();
            if (name == "") {
                console.log("please enter a name");
            } else if (email == "") {
                console.log("please enter a email");
            } else if (password == "") {
                console.log("please enter a password");
            }else{
                mydata = {name: name, email: email, password: password, csrfmiddlewaretoken:csrf};
                $.ajax({
                    url: "{% url 'savedata' %}",
                    method: 'POST',
                    data: mydata,
                    success: function (data) {
                        
                        if(data.status == "Save"){
                            console.log(data.information);
                            x = data.information;
                            console.log("save");
                            for(i=0; i<x.length; i++) {
                                output += "<tr><td>" + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].email + "</td><td>" + x[i].password + "</td></tr>"
                            }
                            $("#tbody").html(output)
                            $("form")[0].reset();
                        }
                    }
                })
                //console.log(name);
                //console.log(email);
                //console.log(password);
            }
            
        });
    });
</script>